body {
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: rgb(164, 175, 223);
}

main {
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    font-weight: bolder;
    background-color: rgb(203, 210, 238);
    height: var(--header-height);
    box-shadow: var(--shadow);
}
section {
    background-color: rgb(203, 210, 238);
    /* width: 1000px;
    max-width: 80%; */
    height: 175px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    box-shadow: var(--shadow);
    border: solid 2px black;
}

button {
    margin-top: 15px;
    margin-bottom: 10px;
}

